/* Article */
.article {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	border-radius: $border-radius;
	box-shadow: $primary-box-shadow;
	padding: 15px;
	margin-bottom: 30px;

	@include media-breakpoint-up(sm) {
		padding: 60px 60px 52px;
	}

	&__featured-image {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		&-container {
			margin: -15px;
			margin-bottom: ptr(40);

			@include media-breakpoint-up(sm) {
				margin: -60px;
				margin-bottom: ptr(40);
			}
		}
	}

	&__meta {
		font-family: $secondary-font;
		font-size: ptr(12);
		text-transform: uppercase;
		color: $gray-lighter;
		margin-bottom: ptr(4);

		.single & {
			margin-bottom: ptr(2);
		}

		a {
			color: $gray-lighter;

			&:focus,
			&:hover {
				color: darken($gray-lighter, 12);
				text-decoration: none;
			}
		}

		.meta__separator {
			margin: 0 ptr(10);
		}
	}

	&__title {
		font-size: ptr(26);
		margin-bottom: ptr(22);

		.single & {
			font-size: ptr(30);
			margin-bottom: ptr(28);
		}

		a {
			color: $gray-dark;
		}
	}

	&__content {
		font-size: ptr(16);

		.page &,
		.single & {
			font-size: ptr(18);
		}

		// Content Margins
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}

		// Content Margins
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: ptr(24);
		}

		// Content Margins
		blockquote {
			margin-bottom: ptr(53);
		}

		// Content Margins
		dl,
		dd,
		ul,
		ol,
		p {
			margin-bottom: ptr(26);

			+ blockquote {
				margin-top: ptr(52);
			}

			+ h1,
			+ h2,
			+ h3,
			+ h4,
			+ h5,
			+ h6 {
				margin-top: ptr(52);
			}
		}

		li {
			ul,
			ol {
				margin-bottom: 0;
			}
		}

		// Content Margins
		pre,
		img,
		figure,
		table,
		.embed-responsive {
			margin-top: ptr(51);
			margin-bottom: ptr(50);

			+ h1,
			+ h2,
			+ h3,
			+ h4,
			+ h5,
			+ h6 {
				margin-top: ptr(46);
			}
		}

		// Content Margins
		p {
			> a > img {
				display: inline-block;
				margin-top: ptr(25);
				margin-bottom: ptr(23);
			}

			> img {
				display: inline-block;
				margin-top: ptr(25);
				margin-bottom: ptr(23);
			}
		}

		.alignleft,
		.alignright {
			margin-top: 0;
			margin-bottom: ptr(35);
		}

		// Content Margins
		figure {
			img {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	&__tags {
		margin-top: ptr(50);
		margin-bottom: ptr(20);

		.single & {
			margin-bottom: 0;
		}
	}

	// Read more link.
	.more-link {
		display: block;
		font-family: $secondary-font;
		font-size: ptr(14);
		font-weight: bold;
		text-transform: uppercase;
		margin-top: ptr(-10);

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}
