/* Comments */
.comments {
	position: relative;
	font-family: $secondary-font;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	box-shadow: $primary-box-shadow;
	padding: 15px;
	margin-bottom: 30px;

	@include media-breakpoint-up(sm) {
		padding: 30px;
	}

	&__list {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;

		> .comment {
			&:last-of-type {
				> .comment-body {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;

					+ .children {
						border-top: 1px dashed $gray-lightest;
						padding-top: 23px;
						margin-top: 30px;
					}
				}
			}
		}
	}

	&__button {
		text-transform: uppercase;
		margin-bottom: 30px;

		&:focus {
			background-color: $brand-secondary;
			border-color: $brand-secondary;
		}

		&:focus:hover {
			background-color: darken($brand-secondary, 6);
			color: #ffffff;
			border-color: darken($brand-secondary, 6);
		}
	}

	.children {
		list-style: none;
	}
}

.comment {
	&-body {
		border-bottom: 1px dashed $gray-lightest;
		padding-bottom: 23px;
		margin-bottom: 30px;
	}

	&-meta {
		display: inline-block;
		width: 100%;

		.comment-awaiting-moderation {
			display: inline-block;
			color: #bbbbbb;
			font-size: 14px;
			margin-bottom: 60px;
		}
	}

	&-author {
		.avatar {
			border-radius: 50%;
			margin-right: 15px;
			margin-bottom: 20px;
			float: left;
		}

		.says {
			display: none;
		}

		.fn {
			display: block;
			font-size: 18px;
			vertical-align: top;
			color: $gray-dark;
			margin-right: 15px;
			padding-top: 12px;

			a {
				color: $gray-dark;
				vertical-align: top;
			}
		}
	}

	&-metadata {
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-top: -2px;

		a {
			color: #aaaaaa;
		}

		.comment-edit-link {
			color: $link-color;
		}

		time {
			margin-right: 10px;
		}
	}

	&-content {
		font-family: $primary-font;
		font-size: 16px;

		> p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.reply {
		a {
			font-size: 14px;
			color: #bbbbbb;
			font-family: $primary-font;

			&:hover {
				color: $link-color;
			}
		}
	}

	.comment-respond {
		margin-bottom: 60px;

		.form-submit {
			margin-bottom: 0;
		}
	}

	&-reply-title {
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 1px solid $gray-lightest;
		padding-bottom: 13px;
		margin-bottom: 23px;
	}
}

.comment-respond {
	.comments__list + & {
		margin-top: 50px;
	}

	.comment-body + & {
		margin-top: 0;
	}

	.comment-notes,
	.logged-in-as {
		display: none;
	}

	label {
		display: block;
		font-size: 14px;
		text-transform: lowercase;
	}

	textarea {
		width: 100%;
	}

	input {
		width: 100%;

		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}

	textarea,
	input {
		font-family: $primary-font;
		font-size: 16px;
		border: 2px solid #dddddd;
		border-radius: 4px;
		outline: none;
		padding: 10px 18px;
		transition: $primary-transition;

		&:focus {
			border: 2px solid $gray;
			color: $gray-dark;
		}
	}

	.comment-form-comment {
		margin-bottom: ptr(13);
	}

	.comment-form-url,
	.comment-form-email,
	.comment-form-author {
		margin-bottom: ptr(21);
	}

	.form-submit {
		margin-top: 30px;
		margin-bottom: 12px;
	}

	.submit {
		width: auto;
		font-family: $secondary-font;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: $brand-primary;
		color: $gray-dark;
		border-radius: $border-radius;
		border-color: $brand-primary;
		padding: 10px 30px;

		&:focus,
		&:hover {
			color: $gray-dark;
			border-color: darken($brand-primary, 12);
			background-color: darken($brand-primary, 12);
		}
	}
}
