/* Footer */
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	background-color: #ffffff;
	box-shadow: $primary-box-shadow;
	padding: 0 15px;
	margin-top: 30px;

	@include media-breakpoint-up(sm) {
		padding: 0 30px;
	}

	@include media-breakpoint-up(xl) {
		padding: 0 60px;
	}

	&__left,
	&__right {
		padding-top: 19px;
		padding-bottom: 18px;
	}
}
