/* 05.01. Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
	background-color: #ffffff;
	box-shadow: $primary-box-shadow;
	margin-bottom: 60px;

	@include media-breakpoint-up(lg) {
		flex-flow: row nowrap;
	}

	&__heading {
		font-family: $secondary-font;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: -0.5px;
		line-height: 1;
		color: $gray-dark;
		padding-top: 14px;
		padding-bottom: 20px;
		margin-bottom: 0;
	}

	&__heading-link,
	.custom-logo-link {
		display: flex;
		align-items: center;
		min-height: 90px;
		padding: 10px 0;
		margin-left: 15px;

		@include media-breakpoint-up(md) {
			margin-left: 30px;
		}

		@include media-breakpoint-up(xl) {
			margin-left: 60px;
		}

		&:focus,
		&:hover {
			text-decoration: none;

			.header__heading {
				color: #000000;
			}
		}
	}

	&__navigation {
		width: 100%;

		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}

	&__navbar-toggler {
		margin-left: 15px;
		margin-right: 15px;

		@include media-breakpoint-up(md) {
			margin-right: 30px;
		}

		&:focus,
		&:hover,
		&:active:focus {
			outline: none;
		}
	}

	+ .header-widgets,
	+ .page-header,
	+ .hero-image {
		margin-top: -60px;
	}
}
