/* Hero Image */
.hero-image {
	position: relative;
	margin-bottom: 60px;

	&__content {
		position: relative;
		background-color: #ffffff;
		left: 0;
		right: 0;
		text-align: left;
		text-shadow: none;
		padding: 18px 15px 10px;

		@include media-breakpoint-up(sm) {
			padding: 38px 45px 35px;
		}

		@include media-breakpoint-up(lg) {
			position: absolute;
			background-color: rgba(255, 255, 255, .9);
			border-radius: $border-radius;
			box-shadow: $primary-box-shadow;
			width: 515px;
			left: calc(50% - #{map-get($container-max-widths, lg) / 2} + 15px );
			top: 50%;
			bottom: initial;
			transform: translateY(-50%);
		}

		@include media-breakpoint-up(xl) {
			left: calc(50% - #{map-get($container-max-widths, xl) / 2} + 15px );
			padding: 53px 60px 50px;
		}
	}

	&__title {
		font-size: 24px;
		margin-bottom: 12px;

		@include media-breakpoint-up(lg) {
			font-size: 36px;
		}
	}

	&__text {
		color: $gray;
		font-size: 16px;
		margin-bottom: 0;
	}

	&__button {
		text-transform: uppercase;
		margin-top: 22px;
	}
}
