/* 05.07. Pagination */
.pagination {
	font-family: $secondary-font;
	font-size: 14px;
	text-align: center;
	margin-bottom: 60px;

	.page-numbers {
		display: inline-block;
		text-align: center;
		background-color: #ffffff;
		color: $gray;
		border-radius: $border-radius;
		box-shadow: $primary-box-shadow;
		width: 45px;
		padding-top: 11px;
		padding-bottom: 11px;
		margin-left: 2px;
		margin-right: 2px;
		transition: $primary-transition;

		&:focus,
		&:hover {
			text-decoration: none;
			color: $gray-dark;
			box-shadow: $primary-box-shadow-hover;
		}
	}

	.current {
		background-color: $brand-primary;
		color: $gray-dark;
		box-shadow: none;

		&:focus,
		&:hover {
			background-color: $brand-primary;
			color: $gray-dark;
			box-shadow: none;
		}
	}

	.prev,
	.next {
		width: auto;
		padding: 11px 20px;
		margin-left: 0;
		margin-right: 0;
	}

	.prev {
		float: left;
	}

	.next {
		float: right;
	}
}
