/* Page Header */
.page-header {
	text-align: center;
	padding-top: ptr(48);
	padding-bottom: ptr(51);
	margin-bottom: 0;

	&__title {
		font-size: ptr(30);
		margin-bottom: 0;
	}

	&__subtitle {
		font-size: ptr(16);
		margin-top: ptr(12);
		margin-bottom: 0;
	}
}
