/* Sidebar */
.sidebar {
	font-size: 14px;

	@include media-breakpoint-up(lg) {
		padding-left: 26px;
	}

	.widget {
		background-color: #ffffff;
		border: 1px solid #eeeeee;
		box-shadow: $primary-box-shadow;
		padding: 27px 30px 30px;
		margin-bottom: 30px;
	}

	&__heading {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 13px;
		margin-bottom: 30px;
		border-bottom: 1px solid $gray-lightest;
	}
}
