/* Tags */
.tags {
	a {
		display: inline-block;
		font-family: $secondary-font;
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: $gray-lightest;
		color: $gray-light;
		border-radius: $border-radius;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 8.5px 10px;
		transition: $primary-transition;

		&:focus,
		&:hover {
			text-decoration: none;
			background-color: darken($gray-lightest, 6);
			color: darken($gray-light, 6);
		}
	}
}
